*{
	margin: 0px;
	padding: 0px;
}

#footer{
	padding: 20px 0px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

#footer p{
	margin-bottom: 0px;
}

@media (min-width: 320px){

}

@media (min-width: 544px){

}

@media (min-width: 768px){

}

@media (min-width: 992px){

}

@media (min-width: 1200px){

}