	*{
		margin: 0px;
		padding: 0px;
	}

	#signn{
		background-color: rgb(22,22,22);
	}

	.desktop{
		background-color: rgb(22,22,22);
	}

	#nav{
		background-color: rgb(22,22,22);
	}

	#nav1{
		background-color: rgb(22,22,22);
	}

	#nav2{
		background-color: rgb(22,22,22);
	}

	#nav3{
		background-color: rgb(22,22,22);
	}


	#bottom-row2{
		text-align: center;
	}

	#numbers a{
		font-family: 'Patua One', cursive;
	}

	#bottom-row span{
		font-family: 'Patua One', cursive;
	}

	#bottom-row2 span{
		font-family: 'Patua One', cursive;
	}

	#bottom-row span:hover{
		color: #FAB940;
		transition: 0.15s all ease;
	}

	#bottom-row2 span:hover{
		color: #FAB940;
		transition: 0.15s all ease;
	}

	#numbers a:hover{
		color: #FAB940;
		transition: 0.15s all ease;
		cursor: pointer;
	}

	#navbarSupportedContent{
		border-top: 1px solid #FAB940;
	}

	#nav2 ul ul a{
		color:white;
		font-size: 21px;
	}
	#nav2 ul ul a li{
		color:white;
		font-size: 21px;
		text-align: center;
	}

	#nav3 .dropdown .dropdown-menu ul a{
		color:white;
		font-size: 21px;
	}
	#nav3 .dropdown .dropdown-menu ul a li{
		color:white;
		font-size: 21px;
		text-align: center;
	}
	
	#mobile-cart{
		color: #FAB940 !important;
	}

	#facebook:hover{
		transition: 0.32s ease-in-out all;
	}

	#facebook:hover{
		transform: rotateY(360deg);
	}

	#nav1 #brand{
		margin-left: 35px !important;
		height: 75px !important;
	}

/**
* Everything beyond the first media tag refers to mobile versions in portrait mode.
* Css for mobile and tablet devices relates to all media tags up to 1023px browser width.
**/

	.dropdown .dropdown-menu{
		width: 250px;
	}

	.dropdown1 .dropdown-menu1{
		width: 250px;
	}

	.desktop{
		display: none;
	}

	.mobile{
		display: flex;
	}


	#brand img{
		height: 60px;
		margin-top: 5px;
	}

	#header-container{
		padding: 0;
		margin:0;
		margin-top: -24px;
	}

	#red{
		width: 190px;
	}

	#mobile-cart{
		color: #e66001;
		font-size: 25px;
		margin-right: 5px;
	}

	.navbar-dark .navbar-toggler{
		border:none;
	}

	button.navbar-toggler{
		padding-left:0;
		padding-right:0;
		margin-left: 5px;
	}

	.dropdown .dropdown-menu {
	  border-radius:0;
	  padding: 10px;
	 }

	.dropdown1 .dropdown-menu1 {
	  border-radius:0;
	  padding: 10px;
	 }

	 @media (min-width: 300px) {  
	.dropdown .dropdown-menu {
	    display: none;
	    margin: 0;
	  	border-radius:0;
	 }

	 .dropdown1 .dropdown-menu1 {
	    display: none;
	    margin: 0;
	  	border-radius:0;
	 }

	#whole-list{
		margin-top: 15px;
	}

	#break{
		height: 70px;
		margin-top: -20px;
		margin-bottom: 15px;
	}

	#nav1 #brand{
		margin-left: 25px !important;
		height: 80px !important;
	}

	.noDecor{
		text-decoration: none;
	}

	.noDecor:hover{
		color:white;
	}

	#forgot{
		font-size: 15px;
	}

	#break input{
		border: 1.4px solid #e66001;
		margin-top: 8px;
		border-radius: 5px;
	}

	.orangeBorder{
		border: 1.4px solid #e66001;
		margin-top: 5px;
		border-radius: 5px;
		padding: 5px;
		width: 80%;
		margin-left: 3%;
	}

	#orangeLine{
		height: 3px;
		background-color: #e66001;
		width: 92%;
		margin-bottom: 5px;
	}

	.orangeButton{
		background-color: #e66001;
		border-radius: 0;
		color:white;
		text-decoration: none;
		font-size: 15px;
		width: 100px;
	}
	#bottom-row2 span{
		color:white;
		font-size: 20px;
		margin-left: 10px;
		font-weight: bold;
	}

	.dropdown-menu{
		float: left;
	}

	.dropdown-menu1{
		float: left;
	}

	}

@media (min-width: 544px) {
	#header-container{
		padding: 0;
		margin:0;
		margin-top: -24px;
	}
		#brand img{
		height: 65px;
	}

	#nav1 #brand{
		margin-left: 40px !important;
		height: 80px !important;
		margin-top: -8px;
	}

	#brand .navbar-brand{
		margin-left: 40px;
		height: 80px;
		margin-top: -5px;
	}

		#mobile-cart{
		color: #e66001;
		font-size: 30px;
		margin-right: 20px;
	}

		button.navbar-toggler{
		padding-left:0;
		padding-right:0;
		margin-left: 5px;
	}

	#bottom-row2 span{
		color:white;
		font-size: 22px;
		margin-left: 10px;
		font-weight: bold;
	}
}

@media (min-width: 768px) {

	#facebook{
   	margin-top: -5px;
   	margin-right: 10px;
   	overflow-y: hidden !important;
	}

	.fa-facebook-square:before{
		font-size: 1.8rem;
		overflow-y: hidden !important;
	}

	#facebook a i{
	color:#3B5998 !important;
	font-size: 20px !important;
	overflow-y: hidden !important;
	}

	.desktop{
		padding-top: 5px;
		display: flex;
		height: 90px;
	}

	.mobile{
		display: none;
	}

	#bottom-row{
		padding-right: 12px;
	}


	.navbar-brand{
		position: absolute;
		z-index: 1050;
	}

	.navbar {
	 	padding:0rem;
	}

	.dropdown .dropdown-menu {
	 	border-radius:0;
	 }

	 .dropdown1 .dropdown-menu1 {
	 	border-radius:0;
	 }

	 	@media (min-width: 768px) {  
	.dropdown .dropdown-menu {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }

	.dropdown1 .dropdown-menu1 {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }
	}

	#header-container{
		padding:0;
		margin:0;
	}

	#bottom-row{
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 0.82rem;
	}

	#navbar ul li{
		min-width: 2.7%;
		text-align: center;
	}

	#logo{
		width: 135px;
	    height: 80px;
	    margin-top: 0px;
	    margin-left: 15px;
		background-image: url('../images/elis-logo-tablet.png');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	#break{
		height: 70px;
		margin-top: -20px;
		margin-bottom: 25px;
	}

	.noDecor{
		text-decoration: none;
	}

	.noDecor:hover{
		color:white;
	}

	#forgot{
		font-size: 15px;
	}

	.orangeBorder{
		border: 1.4px solid #e66001;
		border-radius: 5px;
		padding: 5px;
		width: 80%;
	}

	#orangeLine{
		height: 3px;
		background-color: #e66001;
		width: 92%;
		margin-bottom: 5px;
	}

	.orangeButton{
		background-color: #e66001;
		border-radius: 0;
		color:white;
		text-decoration: none;
		font-size: 15px;
		width: 100px;
	}

	#numbers{
		display:block;
	}

	#cartphoto{
		margin-top: 3px;
	}

}

@media (min-width: 992px) {

	.fa-facebook-square:before{
		font-size: 1.85rem;
	}

	#facebook{
	margin-left: -10px;
   	margin-top: -4px;
	}

	#facebook a i{
	color:#3B5998 !important;
	font-size: 20px !important;
	}


	.desktop{
		padding-top: 5px;
		display: flex;
		height: 90px;
	}

	.mobile{
		display: none;
	}

	.navbar-brand{
		position: absolute;
		z-index: 1050;
	}

	#bottom-row{
		padding-right: 20px;
	}

	.navbar {
	 	padding:0rem;
	}

	.dropdown .dropdown-menu {
	 	border-radius:0;
	 }

	.dropdown1 .dropdown-menu1 {
	 	border-radius:0;
	 }

	 	@media (min-width: 768px) {  
	.dropdown .dropdown-menu {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }

	 .dropdown1 .dropdown-menu1 {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }
	}

	#header-container{
		padding:0;
		margin:0;
	}

	#bottom-row{
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 0.95rem;
	}

	#navbar ul li{
		min-width: 6.0%;
		text-align: center;
	}

	#mycart{
		border: 1px solid #e66001;
		border-radius: 10px;
		text-align: right;
		width: 140px;
		margin-right: 5px;
	}

	#mycart a{
		margin-top: -4px;
		width: 140px;
	}

	#signIn{
		background-color: #e66001;
		text-align: right;
		border-radius: 10px;
		width: 150px;
	}

	#signIn a{
		color:white;
		padding:5px;
		margin:0;
		line-height: 18px;
		padding-left: 9px;
		padding-right: 9px;
		font-size:0.95rem;
	}

	#signIn a::after{
		display:none;
	}

	#signIn1{
		background-color: #e66001;
		text-align: right;
		border-radius: 10px;
		width: 150px;
	}

	#signIn1 a{
		color:white;
		padding:5px;
		margin:0;
		line-height: 18px;
		padding-left: 9px;
		padding-right: 9px;
		font-size:0.95rem;
	}

	#signIn1 a::after{
		display:none;
	}

	#logo{
		width: 200px;
	    height: 81px;
	    margin-top: 0px;
	    margin-left: 40px;
		background-image: url('../images/elis-logo.png');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	#break{
		height: 70px;
		margin-top: -20px;
		margin-bottom: 25px;
	}

	.noDecor{
		text-decoration: none;
	}

	.noDecor:hover{
		color:white;
	}

	#numbers{
		display:block;
	}

	#forgot{
		font-size: 15px;
	}

	.orangeBorder{
		border: 1.4px solid #e66001;
		border-radius: 5px;
		padding: 5px;
		width: 80%;
	}

	#orangeLine{
		height: 3px;
		background-color: #e66001;
		width: 92%;
		margin-bottom: 5px;
	}

	.orangeButton{
		background-color: #e66001;
		border-radius: 0;
		color:white;
		text-decoration: none;
		font-size: 15px;
		width: 100px;
	}

	#cartphoto{
		margin-top: 3px;
	}

}


/**
* From here we start with styling the site for desctop devices. 
**/


@media (min-width: 1023px) {

	.fa-facebook-square:before{
		font-size: 1.85rem;
	}

	#facebook{
	margin-left: -10px;
   	margin-top: -2px;
	}

	#facebook a i{
	color:#3B5998 !important;
	font-size: 20px !important;
	}


	.desktop{
		padding-top: 5px;
		display: flex;
		height: 90px;
	}

	.mobile{
		display: none;
	}

	.navbar-brand{
		position: absolute;
		z-index: 1050;
	}

	.navbar {
	 	padding:0rem;
	}

	.dropdown .dropdown-menu {
	 	border-radius:0;
	 }

	 .dropdown1 .dropdown-menu1 {
	 	border-radius:0;
	 }

	 	@media (min-width: 768px) {  
	.dropdown .dropdown-menu {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }

	 .dropdown1 .dropdown-menu1 {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }
	}

	#header-container{
		padding:0;
		margin:0;
	}

	#bottom-row{
		color: white;
		font-family: 'Roboto', sans-serif;
		font-size: 1.025rem;
	}

	#navbar ul li{
		min-width: 6.20%;
		text-align: center;
	}

	#logo{
		width: 200px;
	    height: 81px;
	    margin-top: 0px;
	    margin-left: 40px;
		background-image: url('../images/elis-logo.png');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	#break{
		height: 70px;
		margin-top: -20px;
		margin-bottom: 25px;
	}

	.noDecor{
		text-decoration: none;
	}

	.noDecor:hover{
		color:white;
	}

	#forgot{
		font-size: 15px;
	}

	.orangeBorder{
		border: 1.4px solid #e66001;
		border-radius: 5px;
		padding: 5px;
		width: 80%;
	}

	#orangeLine{
		height: 3px;
		background-color: #e66001;
		width: 92%;
		margin-bottom: 5px;
	}

	.orangeButton{
		background-color: #e66001;
		border-radius: 0;
		color:white;
		text-decoration: none;
		font-size: 15px;
		width: 100px;
	}

	#cartphoto{
		margin-top: 3px;
	}

 }

 @media (min-width: 1200px) {

 	.fa-facebook-square:before{
		font-size: 1.85rem;
	}

	#facebook{
	margin-left: -20px;
   	margin-top: -1px;
	}

	#facebook a i{
	color:#3B5998 !important;
	font-size: 20px !important;
	}

	.desktop{
		padding-top: 5px;
		display: flex;
		height: 90px;
	}

	.mobile{
		display: none;
	}

	.navbar-brand{
		position: absolute;
		z-index: 1050;
	}

	.navbar {
	 	padding:0rem;
	}

	.dropdown .dropdown-menu {
	 	border-radius:0;
	 }

	.dropdown1 .dropdown-menu1 {
	 	border-radius:0;
	 }

	 	@media (min-width: 768px) {  
	.dropdown .dropdown-menu {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }

	.dropdown1 .dropdown-menu1 {
	    display: none;
	    margin-top: 0;
	  	border-radius:0;
	 }
	}

	#header-container{
		padding:0;
		margin:0;
	}

	#bottom-row{
		color: white;
		font-family: 'Patua One', cursive;
		font-size: 1.15rem;
	}

	#navbar ul li{
		min-width: 8.5%;
		text-align: center;
	}

	#mycart{
		border: 1px solid #e66001;
		border-radius: 10px;
		text-align: right;
		width: 130px;
		margin-right: 5px;
	}

	#mycart a{
		margin-top: -2px;
		width: 120px;
	}

	#cartphoto{
		margin-top: 5px;
	}

	#signIn{
		background-color: #e66001;
		text-align: right;
		border-radius: 10px;
		width: 170px;
	}

	#signIn a{
		color:white;
		padding:5px;
		margin:0;
		line-height: 18px;
		padding-left: 9px;
		padding-right: 9px;
		font-size:1rem;
	}

	#signIn a::after{
		display:none;
	}

	#signIn1{
		background-color: #e66001;
		text-align: right;
		border-radius: 10px;
		width: 170px;
	}

	#signIn1 a{
		color:white;
		padding:5px;
		margin:0;
		line-height: 18px;
		padding-left: 9px;
		padding-right: 9px;
		font-size:1rem;
	}

	#signIn1 a::after{
		display:none;
	}

	#logo{
		width: 200px;
		height: 80px;
		margin-top: 0px;
		margin-left: 40px;
		background-image: url('../images/elis-logo.png');
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center center;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}

	#break{
		height: 70px;
		margin-top: -20px;
		margin-bottom: 25px;
	}

	.noDecor{
		text-decoration: none;
	}

	.noDecor:hover{
		color:white;
	}

	#forgot{
		font-size: 15px;
	}

	.orangeBorder{
		border: 1.4px solid #e66001;
		border-radius: 5px;
		padding: 5px;
		width: 80%;
	}

	#orangeLine{
		height: 3px;
		background-color: #e66001;
		width: 92%;
		margin-bottom: 5px;
	}

	.orangeButton{
		background-color: #e66001;
		border-radius: 0;
		color:white;
		text-decoration: none;
		font-size: 15px;
		width: 100px;
	}

 }

