*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.pop{
	cursor: pointer;
}

.pop2{
	cursor: pointer;
}


@media (min-width: 576px){}
.modal-dialog {
    max-width: 800px !important;
    margin: 1.75rem auto;
}
}


span.redd{
	color:red !important;
	font-size: 1.7rem !important;
}

#category-image{
	width: 100%;
	height: 45vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: scroll;
	background-size: cover;
}

#dry-rubs{
	margin-top: 15px;
	margin-bottom: 10px;
} 

#dry-rubs .row div{
	margin-top: 5px;
}

#dry-rubs-small .row div{
	margin-top: 3px;
}

#dry-rubs-small{
	margin-top: 10px;
	margin-bottom: 10px;
}

#dry-rubs .row div {
	color: rgb(116, 0, 16);
	font-size: 0.9rem;
}

#dry-rubs-small .row div {
	color: rgb(116, 0, 16);
	font-size: 0.77rem;
}

#sauces{
	margin-top: 15px;
	margin-bottom: 5px;
}

.blue h3{
	text-decoration: underline;
}

#sauces .row div{
	margin-top: 5px;
}

#sauces .row .new{
	text-decoration: none !important;
}

#sauces-small .row div{
	margin-top: 3px;
}

#sauces-small{
	margin-top: 10px;
	margin-bottom: 10px;
}

#sauces .row div {
	color: rgb(116, 0, 16);
	font-size: 0.9rem;
}

#sauces-small .row div {
	color: rgb(116, 0, 16);
	font-size: 0.74rem;
}

h3{
	color: rgb(116, 0, 16);
	font-size: 1.2rem;
}

h6{
	font-size: 0.8rem;
}

#specialh1{
	overflow-y:hidden;
}

#specialh1{
	font-size: 1.75rem !important;
	color: rgb(116, 0, 16);
	margin-top: -5px;
}

.blue h3{
	color:rgb(15,89,152);
}

.new{
	color:red; font-size:0.8rem; margin-left: 0px;

}

.fa-fire{
	margin-left: 3px;
}

.paprika{
	margin-top: -5px;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}

.paprika2{
	margin-left: -13px;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.paprika3{
	margin-left: -9px;
	margin-top: 1px;
}

.paprika{

	margin-top: -4px;
}
.paprika4{
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

	#dry-rubs{
		display: none;
	}

	#dry-rubs-small{
		display: flex;
	}

	#sauces{
		display: none;
	}

	#sauces-small{
		display: flex;
	}

	h6{
		overflow-y: hidden !important;
	}

	div.modal-dialog{
		margin-top: 45% !important;
	}

	span.redd{
	color:red !important;
	font-size: 1rem !important;
	overflow-y: hidden !important;
	}

@media (min-width: 554px){

	span.redd{
	color:red !important;
	font-size: 1.20rem !important;
	overflow-y: hidden !important;
	}

	div.modal-dialog{
		margin-top: 25% !important;
	}

	#dry-rubs{
		display: flex;
	}

	#dry-rubs-small{
		display: none;
	}

	#dry-rubs .row div {
		font-size: 0.85rem;
	}

	#dry-rubs-small .row div {
		font-size: 0.85rem;
	}

	#sauces{
		display: flex;
	}

	#sauces-small{
		display: none;
	}

	#sauces .row div {
		font-size: 0.85rem;
	}

	#sauces-small .row div {
		font-size: 0.85rem;
	}

	h6{
	font-size: 1.05rem;
	}
	#specialh1{
	font-size: 3.2rem !important;
	}

	h3{
		font-size: 1.3rem;
	}
}

@media (min-width: 768px){

	span.redd{
	color:red !important;
	font-size: 1.40rem !important;
	overflow-y: hidden !important;
	}

	div.modal-dialog{
		margin-top: 19% !important;
	}

	#dry-rubs .row div {
	font-size: 1.05rem;
	}

	#dry-rubs-small .row div {
	font-size: 1.05rem;
	}

	#sauces .row div {
	font-size: 1.05rem;
	}

	#sauces-small .row div {
	font-size: 1.05rem;
	}

	h3{
		font-size: 1.8rem;
	}

	#specialh1{
	font-size: 4.5rem !important;
	}
	
	.item-text{
		padding: 30px 30px;
	}

	.left{
		padding-top: 30px;
	}

	.right{
		text-align: right;
	}

}

@media (min-width: 992px){

	span.redd{
	color:red !important;
	font-size: 1.40rem !important;
	overflow-y: hidden;
	}



	div.modal-dialog{
		margin-top: 16.5% !important;
	}

	#dry-rubs .row div {
	font-size: 1.1rem;
	}

	#dry-rubs-small .row div {
	font-size: 1.1rem;
	}

	#sauces .row div {
	font-size: 1.1rem;
	}

	#sauces-small .row div {
	font-size: 1.1rem;
	}


	h6{
	font-size: 1.1rem;
	}
	#specialh1{
	font-size: 5.5rem !important;
	}
}

@media (min-width: 1200px){

	span.redd{
	color:red !important;
	font-size: 1.55rem !important;
	overflow-y: hidden;
	}

	#specialh1{
	font-size: 5.5rem !important;
	overflow-y:hidden;
	}

	div.modal-dialog{
		margin-top: 7% !important;
	}
}


